body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

header, .intro, footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, 
                url(https://as2.ftcdn.net/v2/jpg/01/57/18/41/1000_F_157184156_VrREA372sm4sTHfGKW0pGBxoajutMD1i.jpg) no-repeat center center fixed;
}