
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

header, footer, .intro {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text, nav a, footer{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

nav a{
    text-decoration: None;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.info h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}


.info-caption {
    font-size: 18px;
    color: #1F2937;
    font-weight: lighter;
}

.quote{
    background-color: #E5E7EB;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-author{
    font-size: 20px;
    font-weight: bold;
}


.intro-signup{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.signup-section{
    padding: 50px;

}

/**************** flex *********************/

header, .intro{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15%;
}


.intro-text{
    
    margin-top: -3%;
    margin-left: 10%;
    margin-right: -15px;
    display: flex;
    flex-flow: column wrap;
    flex: 1;

}

.intro .robot-img{
    margin-top: -3%;
    display:flex;
    background-color: #ffffff;
    flex: 1;
    margin-right: 15%;
    height:236px;
    width:300px;
    justify-content: center;
}

.robot-img img{
    overflow: hidden;
    width: 200px;
    flex: 1;
    align-self: center;
    position: absolute;
}

.intro{
    height: 100vh;
    display: flex;
    justify-content: center;
}



.hero-main-text{
    margin: 0px;
}

header a{
    margin: 5px;
}

.logo{
    margin-left: 10px;
}

.info{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}

.info h2{
    flex: 1;
    margin-top: 110px;
}

.cards{
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 80vw;

}

.card-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.info-card{
    width:170px;
    height:170px;
    border: 5px solid #3882F6;
    border-radius: 25px;

}

.info-caption{
    width: 170px;
    text-align: center;
    margin-bottom: 125px;
}

.quote{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding: 50px 100px 50px 100px; /* top right bottom left*/
}


.signup-box{
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border: 10px solid #3882F6;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-around;

}

.signup-text{
    display: flex;
    flex-direction: column;
    padding: 30px;
    color:  #F9FAF8;
    
}

.signup-text b{
    font-size:larger;
}
.signup-subtext{
    font-weight: lighter;
}
.signup-button{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    border-color: #F9FAF8;
    font-size: large;
    border-width: 3px;
}